:root {
  --text: #090a0a;
  --background: #fbfcfd;
  --primary: #5a9fbe;
  --secondary: #93cce5;
  --accent: #4dbaeb;
  --accent2: #e7f089;
  --mainFont: 'Ubuntu', sans-serif;
}

body {
    background-color: var(--background);
    margin: 0;
    line-height: 1.5;
    font-family: var(--mainFont);
}

.logo {
    font-size: 2rem;
}

nav {
    background-color: var(--primary);
    color: var(--background);
    margin-bottom: 2rem;
}

.nav-link {
    text-decoration: none;
    color: var(--background);  
    font-size: 1.3rem;
}

.nav-link:hover {
    color: var(--accent2);
}

.btn {
    /* background-color: var(--accent2); */
    border: 4px solid var(--accent2);
    font-size: 1.3rem;
    color: var(--accent2);
    font-weight: bold;
}

.btn:hover {
    background-color: var(--accent2);
    color: var(--text);
}

.video {
    border: 2px solid var(--accent);
}

.intro {
    margin-bottom: 5rem;
}

p, .text{
    font-size: 1.1rem;
    color: var(--text);
    margin: 0 0 1rem 0;
}

.abt-creator {
    position: relative;
    padding: 5rem;
    background-color: #fff;
    z-index: 1;
}

/* first border */
.abt-creator::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -20px;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    border: 8px solid var(--accent);
    transform: rotate(-1deg);
    z-index: -2;
    pointer-events: none;
}

/* second border */
.abt-creator::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -10px;
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    border: 5px solid var(--accent2);
    transform: rotate(0.8deg);
    z-index: -3;
    pointer-events: none;
}

.abt-btn {
    border: 4px solid var(--accent);
    font-size: 1.3rem;
    color: var(--accent);
    font-weight: bold;
}

/* icon stuff ---------------*/
.icon-home {
  font-size: 2rem;               
  transition: color 0.3s ease, transform 0.3s ease;
}


.icon-home:hover {
  color: var(--accent);
  transform: scale(1.2); 
}



